body {
  margin: 0;
font-family: 'Quicksand', sans-serif;
font-weight: 700;
    background-color: #444444;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#C4:active, #D4:active, #E4:active, #F4:active, #G4:active, #A4:active, #B4:active, #C5:active, #D5:active, #E5:active, #F5:active{
	fill: tomato;
}


#Csh4:active, #Dsh4:active, #Fsh4:active, #Gsh4:active, #Ash4:active, #Csh5:active, #Dsh5:active{
	fill: skyblue;
}

.active-key{
  fill: khaki;
}

.keyboard-container {
 margin-top: 5%;
}



.nav-container{
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: #F2F2F2;
}

.inner-nav{
  width: 100%;
  margin: 0 auto;
}

.inner-left{
  padding-left: 50px;
  text-decoration: none;
  color: black;

}

.left-nav{
  width: 25%;
  display: inline-block;
}

.left-nav:hover{
  width: 25%;
  text-decoration:underline;
}

.center-nav{
  width: 25%;
  display: inline-block;
}


.center-nav img{
  width: 50%;
}

.right-nav{
  display: inline-block;
  width: 25%;

}

/*app background color*/
.app-main{
}

svg {
 display: block;
 margin: auto;
}

.effects-style{
  margin-top: 5%;  
  text-align: center;
}

.gain-slider{
  margin-top: 100px;
  height: 100px;
}

circle#Oval{
  transform-origin: 50% 50%;
  transform: rotate(50deg);
}






