body {
  margin: 0;
font-family: 'Quicksand', sans-serif;
font-weight: 700;
    background-color: #444444;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#C4:active, #D4:active, #E4:active, #F4:active, #G4:active, #A4:active, #B4:active, #C5:active, #D5:active, #E5:active, #F5:active{
	fill: tomato;
}


#Csh4:active, #Dsh4:active, #Fsh4:active, #Gsh4:active, #Ash4:active, #Csh5:active, #Dsh5:active{
	fill: tomato;
}

.active-key{
  fill: khaki;
}

.keyboard-container {
  width: 80%;
  margin: 0 auto;
}
  
svg{
  width: 80%;
}


img{
  vertical-align: center;
}
.nav-container{
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: #F2F2F2;
}

.inner-nav{
  width: 100%;
  margin: 0 auto;
}

.inner-left{
  padding-left: 20px;
  text-decoration: none;
  color: black;

}

.left-nav{
  width: 25%;
  display: inline-block;

}

.left-nav:hover{
  width: 25%;
/*  text-decoration:underline;*/
}



.center-nav{
  width: 25%;
  display: inline-block;
  margin-top: 20px;
}


.center-nav img{
  width: 70%;
  display: inline;
}

.right-nav{
  display: inline-block;
  width: 25%;

}


.app-main{
}

svg {
 display: block;
 margin: auto;
}

.effects-style{
  width: 20%;
  margin: 0 auto;
}



circle#Oval{
  transform-origin: 50% 50%;
  transform: rotate(50deg);
}

.donut{
  color: green;
  margin: 0 auto;
  position: absolute;
}

.slide-container1 {
  height: 200px;
  width: 70%;

  float: left;
  text-align: left;
  margin-left: 8%;
  padding: 10px;

}

.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 60%; 
  height: 2px; 
  background: black; 
  border: .2px solid #1A1A1A;
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: 2s; 
  transition: opacity .2s;
  transform: rotate();
  margin-bottom: 30px;

}


.slider:hover {
  opacity: 1; 
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 16px; 
  height: 25px; 
  background: #F8F8F8; 
  border: 2px solid #979797;
  cursor: pointer; 
box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.4), inset -10px 4px 10px 2px rgba(0, 0, 0, 0.05), 0px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.05), -1px 2px 2px rgba(0, 0, 0, 0.04167), -2px 3px 2px rgba(0, 0, 0, 0.03333), -3px 4px 2px rgba(0, 0, 0, 0.025), -4px 5px 2px rgba(0, 0, 0, 0.01667), -5px 6px 2px rgba(0, 0, 0, 0.00833), -6px 7px 2px transparent;


     
    background: linear-gradient(#ddd, #bbb);
    border-radius: 2px;
    border: 1px solid #bbb;
    border-top: 1px solid #eee;
    border-bottom: 5px solid #777;


}

.slider::-moz-range-thumb {
  width: 40px; 
  height: 25px; 
  background: #D8D8D8; 
  cursor: pointer; 
  float: right
}

.slider-gain {
  -webkit-appearance: none;  
  appearance: none;
  width: 10%; 
  height: 2px; 
  background: black; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;

}

.slider-gain:hover {
  opacity: 1; 
}


.slider-gain::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 20px; 
  height: 25px; 
  background: #D8D8D8; 
  cursor: pointer; 
    -webkit-box-shadow: 3px 3px 5px 0px black;  
  -moz-box-shadow:    3px 3px 5px 0px black;  
  box-shadow:         3px 3px 5px 0px black;  

}

.slider-gain::-moz-range-thumb {
  width: 40px; 
  height: 25px; 
  background: grey; 
  cursor: pointer; 
}

.slide-container1{
  display: ƒlex;
}


.slide-label{
  color: grey;
  padding: 8%;
text-transform: uppercase;
  text-align: left;

}

.slide-container2{
  width: 20%;
  float: left;
}


.all-slides-container{
  width: 100%;
  float: left;
  margin: auto;
}

.speaker1{
  float: left;
  
  margin-top: 8%;
  width: 200px;

  transform: rotate(270deg);
  align-items: left;
}

.effects-container{
  margin-top: 1%;
}

.preset-button {
    position: relative;
    width: 50%;
    height: 90%;
    top: -5px;
    max-width: 100px;
    max-height: 50px;
    margin-left: 2px;
    background: linear-gradient(to right, #eee, #ccc);
    border-radius: 0;
    border-bottom: 10px solid #aaa;
    transition: all .2s;
    box-shadow: inset -2px 0 1px 1px rgba(255, 255, 255, 0.7), inset 0 0 8px 8px rgba(128, 128, 128, 0.1), inset -10px 4px 10px 2px rgba(0, 0, 0, 0.05), 0px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.05), -1px 2px 2px rgba(0, 0, 0, 0.04737), -2px 3px 2px rgba(0, 0, 0, 0.04474), -3px 4px 2px rgba(0, 0, 0, 0.04211), -4px 5px 2px rgba(0, 0, 0, 0.03947), -5px 6px 2px rgba(0, 0, 0, 0.03684), -6px 7px 2px rgba(0, 0, 0, 0.03421), -7px 8px 2px rgba(0, 0, 0, 0.03158), -8px 9px 2px rgba(0, 0, 0, 0.02895), -9px 10px 2px rgba(0, 0, 0, 0.02632), -10px 11px 2px rgba(0, 0, 0, 0.02368), -11px 12px 2px rgba(0, 0, 0, 0.02105), -12px 13px 2px rgba(0, 0, 0, 0.01842), -13px 14px 2px rgba(0, 0, 0, 0.01579), -14px 15px 2px rgba(0, 0, 0, 0.01316), -15px 16px 2px rgba(0, 0, 0, 0.01053), -16px 17px 2px rgba(0, 0, 0, 0.00789), -17px 18px 2px rgba(0, 0, 0, 0.00526), -18px 19px 2px rgba(0, 0, 0, 0.00263), -19px 20px 2px transparent;
}

.preset-button:focus{
  outline: 0
}

.preset-button:active{
    border: none;
    z-index: 0;
    width: 50%;
    background: linear-gradient(to right, #ddd, #ccc);
    top: 1px;
    border-bottom: 4px solid #999;
    box-shadow: inset -1px 0 1px 1px rgba(255, 255, 255, 0.4), inset 0 0 8px 8px rgba(128, 128, 128, 0.1), inset -10px 4px 10px 2px rgba(128, 128, 128, 0.05), inset -10px 4px 10px 2px rgba(128, 128, 128, 0.05), 0px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.05), -1px 2px 2px rgba(0, 0, 0, 0.04643), -2px 3px 2px rgba(0, 0, 0, 0.04286), -3px 4px 2px rgba(0, 0, 0, 0.03929), -4px 5px 2px rgba(0, 0, 0, 0.03571), -5px 6px 2px rgba(0, 0, 0, 0.03214), -6px 7px 2px rgba(0, 0, 0, 0.02857), -7px 8px 2px rgba(0, 0, 0, 0.025), -8px 9px 2px rgba(0, 0, 0, 0.02143), -9px 10px 2px rgba(0, 0, 0, 0.01786), -10px 11px 2px rgba(0, 0, 0, 0.01429), -11px 12px 2px rgba(0, 0, 0, 0.01071), -12px 13px 2px rgba(0, 0, 0, 0.00714), -13px 14px 2px rgba(0, 0, 0, 0.00357), -14px 15px 2px transparent;
}

.single-button{
    margin-bottom: 20px;
    margin-left: 30px;
    width: 25px;
    height: 25px;
    background: linear-gradient(to right, #da2d56, #ce2f0a);
    border-radius: 50%;
    border-bottom: 2px solid #891833;
    transition: all .2s;
    box-shadow: inset -2px 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 0 8px 8px rgba(128, 128, 128, 0.1), inset -10px 4px 10px 2px rgba(0, 0, 0, 0.05), 0px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.05), -1px 2px 2px rgba(0, 0, 0, 0.04444), -2px 3px 2px rgba(0, 0, 0, 0.03889), -3px 4px 2px rgba(0, 0, 0, 0.03333), -4px 5px 2px rgba(0, 0, 0, 0.02778), -5px 6px 2px rgba(0, 0, 0, 0.02222), -6px 7px 2px rgba(0, 0, 0, 0.01667), -7px 8px 2px rgba(0, 0, 0, 0.01111), -8px 9px 2px rgba(0, 0, 0, 0.00556), -9px 10px 2px transparent;
}

.single-button:active{
  top: 0;
    background: linear-gradient(to right, #ca244b, #af2505);
    border-bottom: 0 solid #891833;
    box-shadow: inset -2px 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 0 8px 8px rgba(128, 128, 128, 0.1), inset -10px 4px 10px 2px rgba(0, 0, 0, 0.05), 0px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.05), -1px 2px 2px transparent;
}

.single-button:focus{
    outline: 0

}