body {
  margin: 0;
font-family: 'Quicksand', sans-serif;
font-weight: 700;
    background-color: #444444;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#C4:active, #D4:active, #E4:active, #F4:active, #G4:active, #A4:active, #B4:active, #C5:active, #D5:active, #E5:active, #F5:active{
	fill: tomato;
}


#Csh4:active, #Dsh4:active, #Fsh4:active, #Gsh4:active, #Ash4:active, #Csh5:active, #Dsh5:active{
	fill: tomato;
}

.active-key{
  fill: khaki;
}

.keyboard-container {
}

svg{
  width: 80%;
}


img{
  vertical-align: center;
}
.nav-container{
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: #F2F2F2;
}

.inner-nav{
  width: 100%;
  margin: 0 auto;
}

.inner-left{
  padding-left: 20px;
  text-decoration: none;
  color: black;

}

.left-nav{
  width: 25%;
  display: inline-block;

}

.left-nav:hover{
  width: 25%;
  text-decoration:underline;
}

.center-nav{
  width: 25%;
  display: inline-block;
  margin-top: 20px;
}


.center-nav img{
  width: 70%;
  display: inline;
}

.right-nav{
  display: inline-block;
  width: 25%;

}


.app-main{
}

svg {
 display: block;
 margin: auto;
}

.effects-style{
  width: 20%;
  margin: 0 auto;
}



circle#Oval{
  transform-origin: 50% 50%;
  transform: rotate(50deg);
}

.donut{
  color: green;
  margin: 0 auto;
  position: absolute;
}

.slide-container1 {
  height: 200px;
  width: 70%;
  padding-bottom: 20px;
  float: left;
  text-align: left;
  margin-left: 8%
}

.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 60%; 
  height: 6px; 
  background: black; 
  border: .2px solid #1A1A1A;
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: 2s; 
  transition: opacity .2s;
  transform: rotate();
  margin-bottom: 30px;

}


.slider:hover {
  opacity: 1; 
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 16px; 
  height: 25px; 
  background: #F8F8F8; 
  border: 2px solid #979797;
  cursor: pointer; 
    -webkit-box-shadow: 3px 3px 5px 0px black;  
  -moz-box-shadow:    3px 3px 5px 0px black;  
  box-shadow:         3px 3px 5px 0px black;  

}

.slider::-moz-range-thumb {
  width: 40px; 
  height: 25px; 
  background: #D8D8D8; 
  cursor: pointer; 
  float: right
}

.slider-gain {
  -webkit-appearance: none;  
  appearance: none;
  width: 10%; 
  height: 2px; 
  background: black; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;

}

.slider-gain:hover {
  opacity: 1; 
}


.slider-gain::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 20px; 
  height: 25px; 
  background: #D8D8D8; 
  cursor: pointer; 
    -webkit-box-shadow: 3px 3px 5px 0px black;  
  -moz-box-shadow:    3px 3px 5px 0px black;  
  box-shadow:         3px 3px 5px 0px black;  

}

.slider-gain::-moz-range-thumb {
  width: 40px; 
  height: 25px; 
  background: grey; 
  cursor: pointer; 
}

.slide-container1{
  display: ƒlex;
}


.slide-label{
  color: grey;
  padding: 8%;
  
  text-align: left;

}

.slide-container2{
  width: 20%;
  float: left;
}


.all-slides-container{
  width: 100%;
  float: left;
  margin: auto;
}

.speaker1{
  float: left;
  
  margin-top: 8%;
  width: 200px;

  transform: rotate(270deg);
  align-items: left;
}

.effects-container{
  margin-top: 1%;
}